.wrapper {
  display: flex;
  overflow: scroll;
  gap: 5px;
}

.cockTailContainer {
  width: 100px;

  .image {
    /* aspect-ratio: 1 / 1; */
    width: inherit;
  }
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
