.inputContainer,
.inputContainer * {
  /* border: 1px solid black; */
}

.inputContainer {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 20px;
}

.icon {
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
}

.rightContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.actionStyle {
  color: red;
}
