/*
   파일2개업로드할때
   1번파일업로드되면 => 50%;
   2번파일업로드되면 => 100%;

   파일3개업로드할때
   1번파일업로드되면 => 33%
   2번파일업로드되면 => 66&
   3번파일업로드되면 => 100%

   파일n개업로드할때
   1번파일업로드되면 => 100% / n * 1
   2번파일업로드되면 => 100% / n * 2
   3번파일업로드되면 => 100% / files.length * uploadCount
*/
.uploadBar {
  border: 1px solid black;
  height: 20px;

  background-color: green;
}
