.formContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  width: 350px;
  height: 400px;
}

.formWrapper {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 370px;
  gap: 5px;
}

.productIDContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
